<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/themes/admin/css")
    @Scripts.Render("~/bundles/jquery")

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

</head>
<body data-ng-app="shopApp">
    <div class="header">
        <a href="http://detail.herokuapp.com/index.html">
            <h1>Itemsss Admin</h1>
        </a>
    </div>
    @RenderBody()

   
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/upload")
    @Scripts.Render("~/bundles/validation")
    @Scripts.Render("~/bundles/formplugin")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    <script>
        window.data = {
            id: '@ViewBag.id'
        };
    </script>
</body>
</html>

