@model App.Core.Data.User

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HashPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HashPassword)
                @Html.ValidationMessageFor(model => model.HashPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile)
                @Html.ValidationMessageFor(model => model.Mobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Identification, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Identification)
                @Html.ValidationMessageFor(model => model.Identification)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentificationFile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdentificationFile)
                @Html.ValidationMessageFor(model => model.IdentificationFile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordQuestion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PasswordQuestion)
                @Html.ValidationMessageFor(model => model.PasswordQuestion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordAnswer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PasswordAnswer)
                @Html.ValidationMessageFor(model => model.PasswordAnswer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsApproved, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsApproved)
                @Html.ValidationMessageFor(model => model.IsApproved)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsLockedOut, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsLockedOut)
                @Html.ValidationMessageFor(model => model.IsLockedOut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoginCounter, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginCounter)
                @Html.ValidationMessageFor(model => model.LoginCounter)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastIP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastIP)
                @Html.ValidationMessageFor(model => model.LastIP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastLoginDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastLoginDate)
                @Html.ValidationMessageFor(model => model.LastLoginDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastPasswordChangedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastPasswordChangedDate)
                @Html.ValidationMessageFor(model => model.LastPasswordChangedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastLockoutDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastLockoutDate)
                @Html.ValidationMessageFor(model => model.LastLockoutDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FailedPasswordAttemptCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FailedPasswordAttemptCount)
                @Html.ValidationMessageFor(model => model.FailedPasswordAttemptCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FailedPasswordAnswerAttemptCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FailedPasswordAnswerAttemptCount)
                @Html.ValidationMessageFor(model => model.FailedPasswordAnswerAttemptCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
